body{
    background: #efefef;
}

.note{
    background: #696e9e;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 100px;
    top: 200px;
    border: 1px solid;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5)
}

.note textarea{
    background:  #efefef;
    width: 100% --3px;
}

.note .bar{
    min-height: 20px;
    width: 100%;

}

.note .bar:hover{
    cursor: move;
}